@media screen and (max-width: 480px) and (min-width: 321px) {
  $right_margin: 900px;
  $margim_top: 60px;
  @mixin set_WH($w, $h) {
    width: $w;
    height: $h;
  }
  @mixin set_text($fs, $fw, $col) {
    font-size: $fs;
    font-weight: $fw;
    color: $col;
    text-transform: uppercase;
  }
  @mixin set_position($top, $l, $r, $bott, $z_n) {
    position: absolute;
    top: $top;
    left: $l;
    right: $r;
    bottom: $bott;
    z-index: $z_n;
  }
  @mixin nav_flex {
    display: flex;
    justify-content: space-between;
  }
  @mixin footer_flex {
    display: flex;
    justify-content: space-between;
  }
  @mixin border {
    outline: 1px solid black;
  }
  @mixin border_logo {
    border-top: 2px solid #e6e6e6;
    border-bottom: 2px solid #d8d8d8;
  }
  @mixin for_sprite {
    display: block;
    height: 33px;
    width: 33px;
    background-image: url(./image/source_of_icons.png);
    background-repeat: no-repeat;
    transition: 1s;
  }

  main {
    @include set_WH(2404px, 3038px);

    header {
      @include set_WH(100%, 550px);
      position: relative;
      background-image: url(./image/bg.png);
      .menu_in_header {
        margin: 0 $right_margin + 98px;
        @include set_WH(480px, 204px);
        .pingbull {
          @include set_WH(208px, 52px);
          float: left;
          margin: 63px 0 0 118px;
          .er {
            @include set_text(49px, 400, #ffffff);
          }
        }
        .nav {
          @include set_WH(244px, 262px);
          float: left;
          margin-top: $margim_top + 12px;
          position: absolute;
          z-index: 6;
          .uelka {
            display: none;
          }
        }
        .nav:hover {
          cursor: pointer;
          background-image: url(./image/navigation_copy7_480.png);
          background-size: 100% 100%;
          position: absolute;
          z-index: 6;
        }
      }
      .for_lorem {
        @include set_WH(100%, 247px);
        background-color: rgba(0, 0, 0, 0.1);
        padding-top: 1px;

        .lorem_text {
          @include set_WH(528px, 235px);
          margin: 2px $right_margin + 100px 0;
          text-align: start;
          p {
            margin-top: 91px;
          }
          .lorem_span1 {
            @include set_text(33px, 400, white);
            text-transform: none;
          }
          .lorem_span2 {
            @include set_text(16px, 400, #c9a3d9);
            margin-top: 5px;
          }
          .lorem_span3 {
            display: none;
          }
        }
      }
      .iphone1 {
        @include set_WH(194px, 266px);
        border-radius: 1px;
        background-image: url(./image/iphone_for480.png);
        @include set_position(195px, 1219px, 0, 0, 3);
      }
      .iphone2 {
        display: none;
      }
      .button_play1 {
        display: none;
      }
      .button_play2 {
        display: none;
      }
      .button_play3 {
        display: none;
      }
    }
    aside {
      @include set_WH(100%, 600px);
      .about_our_comp {
        @include set_WH(440px, 144px);
        margin: 14px $right_margin + 92px 0;
        .in_aside_about1 {
          @include set_WH(35px, 100%);
        }
        .in_aside_about2 {
          @include set_WH(382px, 100px);
          margin-left: 5px;
          overflow: hidden;
          .font_for_aside1 {
            @include set_text(23px, 400, #ffffff);
          }
          .font_for_aside2 {
            @include set_text(14px, 400, #e1dce4);
            font-family: "Open Sans";
            letter-spacing: 0.5px;
            width: 100%;
          }
        }
        .in_aside_about3 {
          @include set_WH(92%, 50px);
        }
        .font_for_aside3 {
          margin: 13px 16px 0 0;
        }
      }
      .about_our_comp:first-child {
        margin: 75px 0 0 $right_margin + 92px;
      }
    }
    section {
      @include set_WH(100%, 1681px);
      .top_section {
        @include set_WH(100%, 785px);
        .for_muzhyk {
          @include set_position(87px, 977px, 0, 0, 2);
        }
        .pingbuller_starts {
          @include set_WH(410px, 273px);
          margin-left: $right_margin + 105px;
          margin-top: $margim_top + 11px;
          .starts {
            margin: 24px 0 0 38px;
          }
          .starts_here {
            margin: 26px 0 0 4px;
          }
          .under_starts {
            @include set_text(15.5px, 300, #515151);
            text-transform: none;
          }
        }
        .for_radio {
          @include set_position(363px, 1160px, 0, 0, 2);
        }
        .right_w_sprite {
          @include set_WH(364px, 292px);
          margin: $margim_top + 5px $right_margin + 130px 0;
          .recent_updates2 {
            .in_recent_for_margin {
              .in_side_resent1 {
                @include set_text(16px, 800, #000000);
                font-style: bold;
                text-transform: none;
                margin: 19px 0 0 $margim_top + 20px;
              }
              .in_side_resent2 {
                @include set_text(15.3px, 400, #000000);
                font-style: normal;
                text-transform: none;
                margin: 10px 0 0 $margim_top + 20px;
                .for_media480 {
                  color: rgba(0, 0, 0, 0);
                }
              }
            }
          }
          .recent_updates3 {
            @include set_WH(100%, 30px);
            p {
              @include set_text(16px, 400, #000000);
              margin: 13px 24px 0 0;
            }
          }
        }
      }

      .logo {
        @include set_WH(100%, 234px);
        .for_media480 {
          @include set_WH(345px, 154px);
          background-image: url(./image/logos_for480.png);
          margin: 34px 1027px 1px;
          img {
            opacity: 0;
          }
        }
      }
      .bottom_section {
        @include set_WH(100%, 668px);
        background-color: #ececec;
        .content_about {
          @include set_WH(457px, 135px);
          margin: 52px $right_margin + 76px 2px;
        }
        .copy1 {
          .font_for_content1 {
            @include set_text(26px, 400, #000000);
            font-family: "League Gothic Reg";
            margin-top: 1px;
            span {
              color: #000000;
            }
          }
          .copyring {
            @include set_text(15px, 300, #000000);
            font-family: "Open Sans";
            margin-top: 7px;
            text-transform: none;
            line-height: 24px;
            letter-spacing: 0.5px;
            font-style: normal;
          }
        }
        .copy2 {
          .font_for_content1 {
            @include set_text(24px, 400, #000000);
          }
          .font_for_content2 {
            margin-top: 6px;
            text-transform: none;
          }
        }
        .content_about:first-child {
          margin: 69px $right_margin + 77px 2px;
        }
        .content_about:last-child {
          margin: 48px $right_margin + 77px 2px;
        }
      }
    }
    footer {
      @include set_WH(100%, 202px);
      background-size: 100% 100%;
      .in_footer {
        @include set_WH(442px, 100%);
        margin: 5px $right_margin + 85px;
        display: block;
        .menu_in_footer {
          @include set_WH(428px, 30px);
          @include set_text(17px, 400, #ffffff);
          margin: 46px 0px 19px;
          float: left;
        }
        .copyring_in_footer {
          text-transform: none;
          margin-left: 146px;
          float: left;
        }
      }
    }
  }
}
